<footer class="bg-dark text-center text-lg-start">
    <div class="copyright mt-3 mb-2 text-white">
        <p>© <span>Mini Shop - 2022</span>
            <a href="https://www.corinne-aline-poullette.fr" class="transition">
                Corinne Aline Poullette
            </a> {{ 'main.copyright'|trans({}, 'main') }}.</p>
    </div>
</footer>
